<nav>
	<ul>
		<li>
			<a href="{{ url_for('home') }}">Home</a>
		</li>
		{% if auth.state %}
		<li>
			<span>{{ auth.user.username }}</span>
		</li>
		<li>
			<a href="{{ url_for('user.logout') }}">Logout</a>
		</li>
		{% else %}
		<li>
			<a href="{{ url_for('auth.login') }}">Login</a>
		</li>
		<li>
			<a href="{{ url_for('auth.register') }}">Cadastro</a>
		</li>
		{% endif %}
		
	</ul>
</nav>